<div class="row">
  
  <div class="span6 offset5">
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <br/>
  <div class="field">
    <%= f.text_field :name, placeholder: "name" %>
  </div>
  <div><br/>
  <%= f.email_field :email, placeholder: "email" %></div>

  <div><br/>
  <%= f.password_field :password, placeholder: "password" %></div>

  <div><br/>
  <%= f.password_field :password_confirmation, placeholder: "please confirm your password" %></div>
  <div class="field"><br/>
    <%= f.text_field :major, :placeholder=>"major" %>
  </div>
  <div class="field">
    <%= f.label :Year_of_Graduation %>
    <%= f.number_field :yog%>
  </div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

</div>
</div>