<p id="notice"><%= notice %></p>

<div id = "posts">
  <table>
  <%= @subcategory.posts.each do |post| %>
    <tr>
      <div id="title"> <%=post.title%></div>
      <div id="author"> <%=post.user.name%></div>
      <div id="content"> <%=post.content %><div>
    </tr>
    <%end%>
  </table>
</div>