</br>
<div class="span6 offset5">
  <div id = "posts">
    <h2> Author </h2>
    <div><h5>Name:</h5><%= @user.name %></div>
    <div><h5>Email:</h5><%= @user.email%></div>
    <div><h5>Major:</h5><%= @user.major%></div>
    <div><h5>Year:</h5><%= @user.yog%></div>
    <br/>
    <br/>
  </div>
</div>

<div class="row">
  <div class="span6 offset5">
    <div id = "posts">
      <h2>Recent Articles</h2>
      <br/>
      <table>
        <% @user.posts.all(:order => 'id DESC', :limit=>5).each do |post| %>
        <tr>
          <div id="title"> <h3><%=link_to post.title, post_path(1)%></h3></div>
          <div id="author"> <h5><%=link_to post.user.name, user_path(post.user)%></h5></div>
          <div id="content"> <%=post.post %><div>
            <br/>
            <div class="btn btn-small btn-info"> <%=link_to "Show More", user_path(post.user)%></div>
            <% if current_user == post.user%>
            <div class="btn btn-small btn-info"> <%= link_to 'Edit', edit_post_path(post) %></div>
            <div class="btn btn-small btn-info"><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></div>
            <%end%>
          </tr>
          <%end%>
        </table>
      </div>
    </div>
  </div>
  <%= link_to 'Edit', edit_user_path(@user) %> |

