<% if user_signed_in? %>
<div class="row">
  <div class="span6 offset5">
    <h1>New post</h1>
    <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <br/>
    <div class="field">
      <%= f.text_field :title, placeholder: "title" %>
    </div>
    <div class="field">
      <%= f.text_area :post, placeholder: "what do you have to say today?" %>
    </div>
    <div class="field">
      <%= f.label :subcategory %><br />
      <%= f.collection_select :subcategory_id, Subcategory.all, :id, :name %>
    </div>
    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
  </div>
</div>
<% end %>

