<!DOCTYPE "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Subcategory</title>
  <p id="notice"><%= notice %></p>
</head>

<body>

  <div class="row">
    <div class="span10 offset2">
      <tr >
        <div id="title" style='text-align: center;'> <h2><%=@post.title%></h2></div>
        <div id="author" style='text-align: center;'> <h5><%=link_to @post.user.name, user_path(@post.user)%></h5></div>
        <br/>

        <div id="content"> <%=@post.post %></div>


        <% if current_user == @post.user%>
        <div class="btn btn-small btn-info"> <%= link_to 'Edit', edit_post_path(@post) %></div>
        <div class="btn btn-small btn-info"><td><%= link_to 'Destroy', @post, confirm: 'Are you sure?', method: :delete %></td></div>
        <%end%>
      </tr>
    </table>

  </div>
</div>

<br/>
<br/>
<br/>
<div class="row">
  <div class="span6 offset4">
    <h3>Comments</h3>
    <table>
      <% @post.comments.each do |post| %>
      <h4><%= post.title %></h4>

      <div><%= post.cmt %></div>
    </br>
    <% end %>
  </table>
</div>
</div>
<br/>
<br/>
<br/>
    <div class="row">
    <div class="span6 offset5">
     
      <%= form_for(@comment) do |f| %>
      <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
          <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="field">
        <%= f.text_field :title, placeholder: "title" %>
      </div>
      <div class="field"><br/>
        <%= f.text_area :cmt, placeholder: "thoughts? opinions? write your comments here!" %>
      </div>
      <div class="field">
        <%= f.hidden_field :post_id, :value => @post.id %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
      <% end %>

    </div>
  </div>
</body>
</html>