<!DOCTYPE "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Subcategory</title>
  <p id="notice"><%= notice %></p>
</head>

<body>

  <div class="row">
    <div class="span6 offset5">
      <% @post.each do |post| %>
      <tr>
        <div id="title"> <h3><%=link_to post.title, post_path(1)%></h3></div>
        <div id="author"> <h5><%=link_to post.user.name, user_path(post.user)%></h5></div>
        <div id="content"> <%=post.post %><div>
          <br/>
          <div class="btn btn-small btn-info"> <%=link_to "Show More", user_path(post.user)%></div>
          <% if current_user == post.user%>
          <div class="btn btn-small btn-info"> <%= link_to 'Edit', edit_post_path(post) %></div>
          <div class="btn btn-small btn-info"><td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td></div>
          <%end%>
        </tr>
        <%end%>
      </table>
      <br/>
      <br/>
      <%= form_for(@comment) do |f| %>
      <%= f.hidden_field :post_id%>
      <div id="posttitle">

        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>
      </div>
      <div class="field">
        <%= f.label :content %>
        <%= f.text_area :content%>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
      <% end %>
      <br/>
      <br/>
      <table>
        <% @post.comments.each do |c| %>
        <h3><%= c.title %></h3>
        <div><%= c.content %></div>
      </br>
      <% end %>
    </table>
  </div>
</div>
</body>
</html>